version: v1alpha1
metadata:
  name: multipath-tools
  version: "{{ .VERSION }}"
  author: Reza Chalak
  description: |
    [{{ .TIER }}] This system extension provides multipath-tools.
  compatibility:
    talos:
      version: ">= v1.1.0"
